*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 1000px;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    display: grid;
    background-color: antiquewhite;
    border: 2px solid black;
    height: 800px;
    width: 800px;
    grid-template-columns:300px 300px;
    grid-template-rows: 30px 200px 200px 200px;
    grid-template-areas:
    "hd"
    "side side main main"
    "side side main main"
    "side side main main"
    "side side main main"
    ;
    grid-gap: 15px;
}
.box{
    background-color: aliceblue;
    border: 1px solid black;
    margin: 10px;
    justify-content: space-around;
}
#box-1{
    header:hd;
}