html {
    scroll-behavior: smooth;
}
aside {
    width: 20%;
    float: right;
    background-color:fuchsia;
    color: black;
}
.tear:hover{
    color: rgb(84, 76, 163);
    background-color: orange;
    cursor: pointer;
}
.tear{
    text-decoration: none;
    color: brown;
}