.container{
    background-color: rgb(210, 166, 101);
    width: 800px;
    height: 800px;
    border: 3px solid black;
    display: flex;
}
.box{
    background-color: rgb(104, 197, 109);
    border: 2px solid black;
    height: 150px;
    width: 150px;
    margin: 10px;
    transition: 1.3s;
    /* transition-property: background-color; */
    /* BAD PRACTICE */
    /* transition-property: all; */
    transition: all 2.5s cubic-bezier(0.55, -0.29, 0, 0.98) 2s;
}
.box:hover{
    background-color: rgb(160, 110, 110);
    /* transform: rotate(-45deg); */
    transform: translate(500px,600px)  rotate(360deg) scale(2);
}